.bg-position{
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width:602px) {
        background-position: -700px top;
    }
}
.bg-contain{
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-cover{
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-position-bottom{
    background-position: bottom left;
}