.shadow-hover{
    transition: box-shadow 0.5s;
    &:hover {
        box-shadow: 0px 0px 16px 8px #E4B6B6;
        transition: box-shadow 0.5s;
    }
}
.link-secondary-hover-light{
    color: #6c757d;
    &:hover{
        color: white;
    }
}
.link-secondary-hover-primary{
    color: #6c757d;
    &:hover{
        color: #E4B6B6;;
    }
}
.link-light-hover{
    color: white;
    &:hover{
        color: black;
    }
}
.btn{
    &:hover{
        background-color: transparent;
    }
}